:root {
    --background: 244 244 243;
    --surface: 255 255 255;
    --primary: 255 102 51;
    --secondary: 112 192 91;
    --background-text: 41 30 15;
    --surface-text: 65 65 65;
    --primary-text: 255 255 255;
    --secondary-text: 255 255 255;
    --ligtest: 243 242 241;
    --light: 191 191 191;
    --hard: 143 143 143;
    --hardest: 96 96 96;
    --success: 0 140 73;
    --info: 28 185 252;
    --warning: 255 162 28;
    --error: 216 0 0;



    --gray: 140 144 171;
    --lines: 232 229 250;
    --background-primary: 255 255 255;
    --background-secondary: 249 250 255;
    --background-hover: 241 243 255;
    --red: 255 28 110;
    --white: 25 26 34;
    --button-press-primary: 109 0 195;
    --button-press-secondary: 53 59 194;
    --orange: 235 173 16;
    --green: 73 235 16;
    --skeleton: 244 245 255;
    --skeleton-highlight: 235 238 254;
}
